* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
    height: 1000px;
}

.wapper {
    height: 100px;
    margin: 0 auto;
    background-image: url(../images/wave-header.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 90%;
}

.logo{
    float: left;
    padding: 27.5px 15px;
    line-height: 25px;
    height: 80px;
    margin-left:100px;
}

.returnmain {
    color: #fff;
    font-size: 23px;
    background-color: transparent;
    border-style: none;
    margin-left: 35px;
}
.returnmain:hover {
    background-color: rgba(255, 255, 255, 0.04);
}

.head {
    float: right;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 100px;
}

.btn {
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
    border-color: #fff;
    border-style: groove;
    border-width: thin;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 0 5px;
    background-color: transparent;

}
.btn:hover {
    background-color: rgba(255, 255, 255, 0.04);
}

.ID{
    color:#fff;
    font-size: 18px;
    padding: 0 5px;
}


.footer-container {
    background-image: url(../images/wave-footer.svg);
    padding: 60px 0;
    margin-top: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.shouye {
    height: 28px;
    width: 28px;
    background-image: url(../images/shouye.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}